slack_api_token: NOT_SET
pagerduty_api_token: NOT_SET
pagerduty_oncall_schedule: NOT_SET
pagerduty_escalation_policy: NOT_SET
oncall_announce_channel: netops-bots
default_oncall:
    name: Wesley!
    irc_nick: wesley
    slack_nick: n/a
    email: doesn't have one!
    avatar_url: https://www.gravatar.com/avatar/00000000000000000000000000000000?d=robohash&f=y
    html_url: https://www.pagerduty.com/
    start: whenever
    end: someday
